
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


:root {
    --font-lora: 'Lora', serif;
    --font-inter: 'Inter', sans-serif;
}


body {
    scroll-behavior: smooth;
    
    font-family: var(--font-inter); 
    background-color: #f8fafc; 
}


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #065f46; 
    border-radius: 10px;
}
